@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400&family=Vujahday+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Overpass+Mono:wght@300;400&family=Vujahday+Script&display=swap");
@media (min-width: 1450px) {
  html {
    font-size: 80%;
  }
}
:root {
  --main-color: #838383a2;
  --black-color: #0e0e0e;
  --background: #e7e6e6;
  --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

* {
  font-family: "Overpass Mono", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s ease;
}

/*! base html codes  */
html {
  font-size: 62.5%;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0.8rem;
  background-color: white;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: var(--black-color);
}

body {
  background-color: var(--background);
  overflow-x: hidden;
}

.backgroundimage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(pictures/backgro.jpg);
  opacity: 0.1;
  /*background-repeat: no-repeat;*/
  background-size: contain;
  z-index: -2;
}

.iletisimresim {
  position: absolute;
  top: 8%;
  right: 0;
  width: 50%;
  height: auto;
  z-index: -1;
}

.header {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  /*margin: 2rem 7%;
    border-radius: 30rem;*/
  /*box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);*/
  position: fixed;
  top: 0;
  z-index: 1000;
  margin-right: 7%;
  padding-top: 1%;
  width: 100%;
}
.header .navbar a {
  font-family: "Overpass Mono";
  margin: 0 0rem;
  font-size: 1.6rem;
  color: var(--black-color);
  border-bottom: 0.1rem solid transparent;
}
.header .navbar .active,
.header .navbar a:hover {
  border-color: var(--main-color);
  padding-bottom: 0.5rem;
}
.header .logo img {
  height: 6rem;
  margin-left: -5rem;
}
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background);
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-links .dropdown:hover .dropdown-content {
  display: block;
}

.nav-links a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
}

.nav-links .dropdown-content a {
  padding: 10px;
}

.nav-links .dropdown-content a:hover {
  background-color: #ffffffbf;
}
.header #menu-btn {
  display: none;
}
.btn {
  background: #263179;

  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  box-shadow: 0px 0px 7px 0px #c6c6c6;

  border: 1px solid #0e0e0e;
  font-family: Overpass Mono;
  color: #ffff;
  font-size: 19px;
  padding: 18px 35px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 8rem;
  margin-left: 15rem;
}
.btn:hover {
  opacity: 0.9;
  background: #03179b;

  text-decoration: none;
  color: #ffffff;
}
#menu-btn {
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: transparent;
  color: var(--black-color);
}
.arrowdiv {
  width: 40%;
  height: 30%;
  position: relative;
  margin-left: auto;
  margin-top: -20%;
  margin-right: -5%;
}
.arrow {
  height: 15%;
  width: 20%;
  display: block;
  margin-left: 7rem;
  margin-bottom: 3rem;
  transform: rotate(-15deg);
  transform-origin: top;
}
.sendebize {
  font-size: 3.4rem;
  font-family: "Vujahday Script";
  display: block;
  margin-bottom: 7rem;
  margin-left: -8rem;
  transform: rotate(-15deg);
  transform-origin: top;
}
.combar {
  background-color: #e7e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 6%;
  margin: auto;

  border-radius: 30rem;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.75);
  top: 0;

  width: 90%;

  margin-top: 8%;

  animation: fadeInUp 1s ease-in-out;
  opacity: 0;

  animation-fill-mode: forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Y ekseni boyunca 20px yukarı hareket */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Normal konumuna dönme */
  }
}

.container {
  display: flex; /*hakkında kısmı için*/
}

.galeri {
  display: flex; /*hakkında kısmı için*/
}
.content {
  flex: 1;
  flex-wrap: wrap;
  font-size: 20px;
  border: 5px solid #dbdbdb;
  background-color: #dbdbdb;
  box-shadow: 0px 0px 7px 0px #c6c6c6;
  padding: 20px;
  margin: 5%;
  max-height: 85rem;

  box-sizing: border-box;

  border-radius: 30px;

  overflow: hidden; /* Clear the float */
}

.hakkindayazi {
  color: #000000;
  font-family: "Overpass Mono", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  margin-top: 20px;
  overflow: hidden;
}

.containerheader {
  color: #263179;
  font-family: "Overpass Mono", sans-serif;
  font-weight: 400;
  font-size: 4rem;

  /*text-align: center;*/
}

.containerheader2 {
  color: #210000;
  font-family: "Handjet", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  /*text-align: center;*/
}

.hesaplarimiz {
  color: #210000;
  font-family: "Handjet", sans-serif;
  font-weight: 300;
  font-size: 3.5rem;
  margin-left: 12.5rem;
  margin-bottom: 20px;
}

.conimg {
  width: 60%;
  height: 50%;
  float: right;
  /*margin-left: 2%; */
  margin-top: 4rem;
  margin-top: -2%;
  display: block;
  float: right; /* or float: right; */
  margin-right: 5px;
}

.heading {
  color: #e7e6e6;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 3.5rem;
  border-bottom: 0.1rem solid #e7e6e6;
  text-align: center;
}

/*.sc1{
    min-height: 100vh;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
  }*/
.fot {
  /*margin-left: 5%;
    margin-right: 5%;*/
  display: flex;
  justify-content: space-around;
  align-items: center;

  animation: fadeInUp2 1s ease-in-out;
  opacity: 0;

  animation-fill-mode: forwards;
}

@keyframes fadeInUp2 {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.img1 {
  width: 9%;

  height: 9%;

  margin: 10px 20px 10px 20px;
}
.h11 {
  color: #263179;
  font-family: "Overpass Mono", sans-serif;
  font-weight: 400;
  font-size: 6rem;
  /*text-align: center;*/
  margin-left: 7%;
  margin-top: 15%;
  width: 50%;
}

.h12 {
  color: #210000;
  font-family: "Handjet", sans-serif;
  font-weight: 300;
  font-size: 5rem;
  /*text-align: center;*/
  margin-left: 7%;

  width: 50%;
}
.h12 span {
  border-left: 1px solid transparent;
  display: inline-block;
  margin-right: 2px; /* Harfler arasındaki boşluğu ayarlamak için */
}

.bizeulasin {
  color: #263179;
  font-family: "Overpass Mono", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  /*text-align: center;*/
  margin-left: 7%;
  margin-top: 7%;
  margin-bottom: 10px;
  width: auto;
}
.poop {
  color: #000000;
  font-family: "Overpass Mono", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  /*text-align: center;*/
  margin-left: 7%;
  margin-top: 2%;
  width: 40%;
}
.heading {
  color: #263179;
  border-bottom: 1rem;
  font-family: "Overpass Mono", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  /*text-align: center;*/
  /* margin-left: 7%; */
  margin-top: 15%;
  border-bottom: 0.3rem solid #263179;
  margin: 8% 35% 4% 35%;
}

.sss p {
  margin-right: 8%;
  margin-left: 8%;
  font-size: 2rem;
  color: #1500007e;
  font-family: "Overpass Mono", sans-serif;
  font-weight: 500;
  max-width: auto;
  margin-bottom: 15px;
}

iframe {
  margin-left: 7%;
  margin-right: 7%;
  width: 86%;
  height: 40rem;
}
.footer {
  position: static;
  margin-top: 9rem;
  background-color: #dbdbdb;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
}
.footer .soc {
  padding: 2rem 0;
}

.footer .soc a {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  color: black;
  font-size: 2rem;
  border: black 0.1rem solid;
  border-radius: 50%;
  margin: 0.3rem;
}

.footer .soc a:hover {
  background-color: var(--main-color);
}
p {
  color: black;
  font-size: 1.5rem;
}
.formbox {
  text-align: center;
  margin-bottom: 2%;
}
.mail :hover {
  color: #263179;
  font-size: 2rem;
}
/*FAQ Page*/
.faq-svg {
  position: relative;
  width: auto; /* Adjust the width as needed */
  height: 20vw; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure it doesn't exceed its container */
  display: block; /* Remove extra space beneath image */
  margin: 0 auto; /* Center the image horizontally */
}
.faq-container {
  position: relative;
  width: 70vw;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.accordion-item {
  border-bottom: 3px solid #ccc;
}

.accordion-header {
  font-size: 1.5rem;
  background-color: #f5f5f5;
  padding: 10px;
  max-height: max-content;
  cursor: pointer;
}

.accordion-content {
  font-size: 1.9rem;
  padding: 10px;
  display: none;
  animation: fadeInUp2 0.5s ease-in-out;
  opacity: 0;

  animation-fill-mode: forwards;
}

.accordion-content.active {
  display: block;
}
/*xtreme resim bölümü*/
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-right: 8%;
  margin-left: 8%;
}

.gallery img {
  width: 100%;
  height: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 800px;
  max-height: 80%;
  margin-top: 10%; /* *************   */
}

.close {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
}

/*  resim bölümü*/

/*FAQ Page*/
/*--------------------------------------------------------------------------------------------*/

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  .header .logo img {
    height: 5.5rem;
    margin-left: 1%;
  }

  section {
    padding: 2rem;
  }
  /*iframe{
        width: 70%;
      }*/
  #ana {
    margin-top: 20%;
  }
  .header .navbar a {
    font-family: "Overpass Mono";
    margin: 0 0rem;
    font-size: 1.2rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
  }
  .heading {
    margin: 15% 25% 4% 25%;
  }

  /*ayarla arrowdiv*/
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 95%;
    background-color: #fff;
    /*height: calc(100vh - 9rem);*/
    width: 30rem;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
    right: -100%;
  }

  .header .navbar.active {
    right: 3rem;
    text-align: center;
  }

  .header .navbar a {
    color: var(--black-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .nav-links {
    list-style: none;
    display: block;
  }
  /*iframe{
        width: 70%;
      }*/
  .btn {
    margin: 2rem;
    margin-left: 16%;
    font-size: 13px;
    padding: 15px 25px;
  }
  .header .logo img {
    height: 6rem;
  }
  .arrowdiv {
    margin-top: -40%;
  }
  .gallery {
    display: block;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .heading {
    margin: 15% 25% 4% 25%;
  }

  .gallery img {
    width: 80%;
    height: auto;
    margin-top: 2%;
  }
  .gal-img {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 45%;
  }

  .header .search-form {
    width: 30rem;
  }
  .header .logo img {
    height: 5rem;
  }

  .heading {
    margin: 15% 25% 4% 25%;
  }
}
@media (max-width: 440px) {
  html {
    font-size: 30%;
  }
  .header .logo img {
    height: 4rem;
  }
  .img1 {
    width: 15%;
    height: 15%;
    margin: 0px 5px 0px 5px;
  }
  .btn {
    padding: 8% 8% 8% 8%;
    font-size: 10px;
  }
  .fot {
    padding: 1.5%;
  }
  .container {
    flex-direction: column;
  }
  #ana.containerheader,
  #ana.containerheader2,
  #ana.hakkindayazi {
    margin-top: 5%;
  }

  .heading {
    margin: 15% 25% 4% 25%;
  }
}
@media (max-width: 285px) {
  html {
    font-size: 20%;
  }
  .img1 {
    margin: 0px 2px 0px 2px;
  }
  .header .logo img {
    height: 3.5rem;
  }

  .heading {
    margin: 15% 25% 4% 25%;
  }
}

/* Start https://www.cursors-4u.com */
* {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-1/cur67.cur), auto !important;
} /* End https://www.cursors-4u.com */
/*! responsive end  */
