<section class="footer">
  <div class="soc">
    <a
      href="https://chat.whatsapp.com/DQmArm0z2vj4OqsbQwNrYa"
      class="fab fa-whatsapp"
      target="_blank"
    ></a>
    <a
      href="https://www.instagram.com/isikieee"
      class="fab fa-instagram"
      target="_blank"
    ></a>
    <a
      href="https://tr.linkedin.com/in/i%C5%9F%C4%B1k-ieee-30497525b"
      class="fab fa-linkedin"
      target="_blank"
    ></a>
    <a
      href="https://discord.gg/UJ3ns4RFWs"
      class="fab fa-discord"
      target="_blank"
    ></a>
  </div>
  <p>Bütün Hakları Saklıdır. | © 2024 IŞIK IEEE</p>
</section>
