  <header class="header">
    <a href="/index.html" class="logo">
      <img src="/pictures/logo/logo2.png" alt="logo" />
    </a>
    <nav class="navbar">
      <ul class="nav-links">
        <!--<li><a href="/index.html">Ana Sayfa</a></li>-->
        <script src="/script.js" defer></script>

        <li class="dropdown">
          <a>Koordinasyon Ekibimiz ˅</a>
          <div class="dropdown-content">
            <a href="/pages/coordination-team-pages/board.html"
              >Yönetim Kurulu
            </a>
            <a
              href="/pages/coordination-team-pages/computer-society.html"
            
              >Computer Society
            </a>
            <a
              href="/pages/coordination-team-pages/engineering-in-medicine-and-biology-society.html"
             
              >Engineering in Medicine and Biology Society
            </a>
            <a
              href="/pages/coordination-team-pages/kok-project.html"
              
              >Kardeş Öğrenci Kolları Projesi
            </a>
            <a
              href="/pages/coordination-team-pages/power-and-energy-society.html"
              
              >Power and Energy Society
            </a>
            <a
              href="/pages/coordination-team-pages/robotics-and-automation-society.html"
             
              >Robotic and Automation Society
            </a>
            <a
              href="/pages/coordination-team-pages/women-in-engineering.html"
            
              >Women in Engineering
            </a>
          </div>
        </li>

        <li><a href="/pages/ieeextreme.html">Etkinliklerimiz</a></li>
        <li><a href="/pages/ieeextreme.html">Xtreme Kampı</a></li>
        <li><a href="/pages/contact.html">İletişim</a></li>
        <li class="dropdown">
          <a>Formlar ˅</a>
          <div class="dropdown-content">
            <a href="https://forms.gle/wapFteJemKszif968" target="_blank"
              >Üyelik Formu
            </a>
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLScDboCNFBwfpS_KgkbjFFzs3f1ieL13NIcJayJg26_UGOABaQ/viewform"
              target="_blank"
              >Ekip Başvuru Formu
            </a>
          </div>
        </li>
        <li><a href="/pages/faq.html">SSS</a></li>
      </ul>
    </nav>
    <button id="menu-btn" onclick="mobilactive()">
      <i class="fas fa-bars"></i>
    </button>
  </header>
</html>
