  <header class="header">
    <a href="../index.html" class="logo">
      <img src="/pictures/logo/logo2.png" alt="logo" />
    </a>
    <nav class="navbar">
      <ul class="nav-links">
        <!--<li><a href="../index.html">Ana Sayfa</a></li>-->

        <li class="dropdown">
          <a>Koordinasyon Ekibimiz ˅</a>
          <div class="dropdown-content">
            <a href="/pages/coordination-team-pages/board.html" target="_blank"
              >Yönetim Kurulu
            </a>
            <a
              href="/pages/coordination-team-pages/computer-society.html"
              target="_blank"
              >Computer Society
            </a>
          </div>
        </li>


        <li><a href="/pages/ieeextreme.html">Xtreme Kampı</a></li>
        <li><a href="/pages/contact.html">İletişim</a></li>
        <li class="dropdown">
          <a>Formlar ˅</a>
          <div class="dropdown-content">
            <a href="https://forms.gle/wapFteJemKszif968" target="_blank"
              >Üyelik Formu
            </a>
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLScDboCNFBwfpS_KgkbjFFzs3f1ieL13NIcJayJg26_UGOABaQ/viewform"
              target="_blank"
              >Ekip Başvuru Formu
            </a>
          </div>
        </li>
        <li><a href="/pages/faq.html">SSS</a></li>
      </ul>
    </nav>
    <button id="menu-btn">
      <i class="fas fa-bars"></i>
    </button>
  </header>
</html>
